*{
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: #1C2833;
}

#box_login{
    


width: 600px;
height: 400px;
background: #1C2833;
align-content: center;
border-style: solid;
border-color: rgb(1, 4, 7);
/*box-shadow: 10px 10px black;*/
margin:10% 30% ;
padding: 20px 20px 20px 20px;


}

.controls{
    
    height: 30px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: black;
    border: solid;
    border: 1px;
    border-style: solid;
    font-size: 20px;
    text-align: center;
    background-color: rgb(231, 228, 223);

}

#box_login h3 {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
    font-size: 20px;
    letter-spacing: 5px;
}

.btn{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    background-color: #123593;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    transition-delay: 300ms;
    -webkit-transition: width 1s, background 1s;
}

.btn:hover {
    
    font-weight: 700;
    background-color:#2758dd ;
}
