body{
    background-color: #d6a679 ;
    
}
.grid_menu{
    display: grid;
    height: 800px;
    width: auto;
    
    grid-template-columns:33% 33% 33% ;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    
   
    
}


.card{
    
    border-color: rgb(197, 195, 195);
    background-color:transparent;
    padding-left: 20px;
    padding-right: 20px;
}


.card-child{
    border: solid;
    border-color: rgb(197, 195, 195);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}

#c-c-one{
    
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ;
    justify-items: center;
}
#c-c-two{
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr ;
    justify-items: center;
}

#hijo {
    height: 70%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    opacity: 0.6;
    align-self: center;
    
    justify-items:center;
}

.cabecera{
    width: 100%;
    border-bottom: solid;
    border-color: rgb(197, 195, 195);
    text-align: center;
    background-color:rgb(197, 195, 195); 
    color: white;
}

#hijo a{
    align-self: center;
    text-decoration: none;
    color: black;
    
    
}

#status{
    display:inline-block;
    font-size: 15px;
    
  
}

#c-c-one:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#c-c-two:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#c-c-three:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}


#hijo:hover{

    background-color: rgb(197, 195, 195);
    letter-spacing: 10px;
    font-weight: 900;
    border:solid;
    border-color: white;
    font-size: 28px;
}